# C++ Build outputs
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.out

# Visual Studio temporary files and build results
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Debugger Files
*.ilk
*.pdb
*.idb

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows specific
[Tt]humbs.db
*.stackdump
[Dd]esktop.ini

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
